doctype html
html(lang="en-us")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset="UTF-8")
		meta(name="description", content="A gamified todo app with time tracking")
		link(rel="stylesheet", href="/css/main.css")
		title Domore
	body
		h1 Indexs
		a(href="/settings") settings
		a(href="/") home
		main 
		script(src="/js/axios.min.js")
		script(src="/js/script.js")